[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
pandas = '*'
mysqlclient = '2.0.3'
SQLAlchemy = '1.4.39'
matplotlib = "*"
xeus-python = "0.14.1"
arrow = "*"
openpyxl = "3.0.10"
clickhouse-driver = "*"
lz4 = "*"
xlrd = "*"
cython = "0.29.30"

[dev-packages]

[requires]
python_version = "3.9"
